<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @leafe.user_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @leafe.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @leafe.end_date %>
</p>



<p>
  <strong>Approved:</strong>
  <%= @leafe.approved %>
</p>

<%= link_to 'Edit', edit_leave_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
